
.css-oalq6z{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue !important;
    }
  } */